.mt-15 {
    margin-top: 15px;
}

.action {
    width: 100px;
    text-align: center;
}

.search-wp {
    width: 300px;
}

.tool-bar-wp {
    overflow: hidden;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-5 {
    margin-top: 5px;
}