/*********************************************************************/

html, body, ul, li, div, span, input, p, header, footer, nav, aside, article, section, del {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Microsoft Yahei, Helvetica,Arial;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f2f2f2;
}

ul, li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.space {
    height: 45px;
}

/*********************************************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
}

.header .back-btn {
    float: left;
    width: 40px;
    height: 44px;
    background: url(../img/back.png) 15px center no-repeat;
    background-size: auto 15px;
}

.header .search-wp {
    float: left;
    height: 30px;
    position: relative;
    margin-top: 7px;
}

.header .search-wp input {
    background: #eee url(../img/magnifier.png) 10px center no-repeat;
    background-size: 12px;
    height: 30px;
    width: 229px;
    border-radius: 15px;
    padding: 0 30px;
    color: #4d5159;
    font-size: 12px;
    display: block;
}

.header .search-wp .del-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/del.png) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 19px;
}

.header .search-btn {
    float: left;
    color: #4d5159;
    font-size: 12px;
    width: 50px;
    text-align: center;
}

/*********************************************************************/
.search-tip {
    /* margin-top: 45px; */
    padding-left: 10px;
    font-size: 12px;
    color: #777f86;
}

.search-tip p {
    color: #707070;
    line-height: 28px;
}

.search-tip li {
    float: left;
    width: 33.33%;
    padding-right: 10px;
    margin-bottom: 5px;
}

.search-tip li a {
    border: 1px solid #dfdfdf;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 0 8px;
    border-radius: 3px;
    line-height: 26px;
    background-color: #fff;
}

/*********************************************************************/
.nav {
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    color: #777f86;
}

section.search-tip ul:after {
    content: '';
    display: block;
    clear: both;
}

nav.nav li {
    float: left;
    width: 20%;
}

nav.nav li a {
    font-size: 12px;
    display: block;
    text-align: center;
}

nav.nav li a.on {
    color: #ff463c;
}

.book img {
    width: 104px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 5px;
}

.book a {
    display: block;
    overflow: hidden;
}

.book .detail {
    font-size: 12px;
    margin: 0px 0 0 114px;
}

.book {
    position: relative;
    background-color: #fff;
    height: 114px;
    padding: 5px;
    margin-top: 4px;
    overflow: hidden;
}

.detail .title {
    word-break: break-all;
    color: #444;
    line-height: 16px;
}

.detail p.author {
    color: #999;
    height: 14px;
}

.detail p.price {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 15px;
    color: #ff463c;
}

.detail span.classify {
    background-color: #ff5753;
    color: #fff;
    padding: 0px 5px;
}

p.fav-num {
    color: #999;
    margin-top: 2px;
}

.detail button.fav-btn {
    background: url(../img/favorite.png);
    float: right;
    width: 16px;
    height: 15px;
    border: none;
    -webkit-appearance: none;
    background-size: contain;
}

.load-more {
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}