<div id="userDlg" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{dlgTitle}}</h4>
      </div>
      <div class="modal-body">
        
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">姓名：</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="userData.name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">年龄：</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="userData.age">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">性别：</label>
		    <div class="col-sm-10">
				<label class="radio-inline">
				  <input type="radio" ng-model="userData.gender" checked value="男"> 男
				</label>
				<label class="radio-inline">
				  <input type="radio" ng-model="userData.gender" value="女"> 女
				</label>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">电话：</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="userData.mobile">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">住址：</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="userData.address">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">学历：</label>
		    <div class="col-sm-10">
				<select class="form-control" ng-model="userData.edu">
				  <option>请选择</option>
				  <option>大专</option>
				  <option>本科</option>
				  <option>硕士</option>
				  <option>博士</option>
				  <option>其它</option>
				</select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">爱好：</label>
		    <div class="col-sm-10">
				<label class="checkbox-inline">
				  <input type="checkbox" ng-model="userData.hobby.hb1" ng-true-value="篮球" ng-false-value=""> 篮球
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" ng-model="userData.hobby.hb2" ng-true-value="爬山" ng-false-value=""> 爬山
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" ng-model="userData.hobby.hb3" ng-true-value="音乐" ng-false-value=""> 音乐
				</label>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">照片：</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="userData.img">
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button ng-click="saveUser()" type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->