<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>当当当网</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body ng-app="bookApp" ng-controller="bookController">

    <header class="header">
        <a href="javascript:;" class="back-btn"></a>
        <div class="search-wp">
            <input type="text">
            <del class="del-btn"></del>
        </div>
        <a href="javascript:;" class="search-btn">搜索</a>
    </header>

    <div class="space"></div>

    <section class="search-tip">
        <p>你是不是要找：</p>
        <ul>
            <li ng-repeat="s in suggest"><a href="">{{s}}</a></li>
            <!--<li><a href="">测试文本测试类别</a></li>-->
            <!--<li><a href="">测试文本</a></li>-->
            <!--<li><a href="">测试文本测试类别</a></li>-->
            <!--<li><a href="">测试文本</a></li>-->
            <!--<li><a href="">测试文本测试类别</a></li>-->
        </ul>
    </section>

    <nav class="nav">
        <ul>
            <li><a class="on" href="">默认</a></li>
            <li><a href="">销量</a></li>
            <li><a href="">价格</a></li>
            <li><a href="">好评</a></li>
            <li><a href="">出版时间</a></li>
        </ul>
    </nav>

    <section class="book-list">

        <div ng-click="onBookClick()" class="book" ng-repeat="book in bookList">
            <a href="">
                <img src="img/book1.jpg" alt="">
                <div class="detail">
                    <p class="title">{{book.name}}</p>
                    <p class="author">{{book.author}} 主编</p>
                    <p class="price">￥{{book.price}}</p>
                    <p class="classify">当当自营</p>
                    <span class="fav-num">98.1%好评(157人)</span>
                    <button class="fav-btn"></button>
                </div>
            </a>
        </div>
        <div ng-show="showLoadMsg" class="load-more">{{loadMsg}}</div>

    </section>

</body>
</html>